@{
    ViewData["Title"] = "About";
}
<section id="policy">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="heading-title heading-border-bottom round-font" style="font-size: 60px !important">

                    Anti-Harassment Policy
                </div>

                <p style="color: #9b9b9b !important; font-size: medium !important">
                    The meet organizers for the DFW Furs Community are dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion. We do not tolerate harassment of meet attendees in any form. Attendees violating these rules may be asked to leave the respective meet where the harassment occurs at the discretion of the meet organizers.
                </p>
                <br />

            </div>

        </div>
    </div>
</section>